/* ---------------------------------------CARDS */
/* ----------------single card sizing & margins */
.card .card-content .row {
    margin-bottom: 0;
}
.btns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ----------------------title sizing & margins */
.card .card-content .card-title {
    font-size: 24px;
    line-height: 52px;
    margin-left: 10px;
}
.card-heading {
    height: 47px;
}
.brand-logo {
    font-size: 1.7em;
    line-height: 2em;
    background: url("../img/logo.png") no-repeat center left;
    text-indent: 50px;
    height: 47px;
}
/* -------------------------------------buttons */
.action-text {
    font-size: 0.9em;
}
#loginBtn {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #26a69a;
    color: #26a69a;
    position: relative;
    padding-right: 12px;
    margin: 20px 30px 20px 0;
}
#loginBtn:hover,
#loginBtn:focus {
    background-color: #26a69a;
    color: white;
}
#loginBtn i {
    margin-left: 4px;
    line-height: 34px;
}
#signUpBtn {
    text-transform: none;
    padding: 0;
    margin-left: 10px;
}
#signUpBtn:hover {
    color: #26a69a;
}
#signUpBtn i {
    margin-right: 2px;
    line-height: 32px;
}
.trouble-link {
    text-transform: none;
    padding: 0 11.250px;
}
.trouble-link:hover,
.trouble-link:focus {
    color: #26a69a;
}

/* ---------------------------------ERROR CARDS */
/* ---------------------------error card sizing */
.err-card {
    display: flex;
    justify-content: center;
}
/* --------------------------error card content */
.err-card .card-content .card-title {
    margin: 0;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.err-img {
    height: 90px;
    width: auto;
    margin: 10px 0 0;
}
.err-card .card-image,
.err-card .card-content {
    margin: 0 10px;
}
.invalid {
    color: #ff7043 !important;
}


@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .brand-logo {
        background: url("../img/logo@2x.png") no-repeat center left;
        background-size: 40px 47px;
    }
}
